@media print {
    @page {
      margin: 10px; 
    }
  
    .seroy {
      width: fit-content;
    }
  
    .page-break {
      margin-top: 0.5rem;
      display: block;
      page-break-before: auto;
    }
  }
  

.title__2, 
.modal__details, 
.sir__madam, 
.title__3, .select
{
    line-height: 1;
}

.modal__details{
    width: 50%;
    flex-direction: row;
    display: flex;
}

.sir__madam{
    text-align: left;
}

.modal__time{
    display: flex;
    justify-content: space-between;
}

.approved__by{
    text-align: left;
}

.modal__h5{
    border-bottom: 1px solid black;
    /* margin: 0 20px; */
    text-align: center;
}

.modal__label{
    margin-right: 5px;
}

.printed__name{
    text-align: center;
}