*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard{
  margin: 0 40px;
  background-color: #fff;
}
.hide-sidebar .show_links{
  display: none;
}
.navbar{
  margin-left: 20px;
  color: #fff;
  padding: 10px;
}

.details{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./assets/277545788_346462727503794_2429890522423356628_n.jpg);
}

.pass_slip{
  box-shadow: 0px 100px 100px 100px rgba(0,0,0,0.1);
  border-radius: 7px;
  margin: auto;
  padding: 20px;
  padding-bottom: 70px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #615e5e;
  width: 700px;
  height: 100%;
  font-size: 20px;
}

.title{
  padding: 0 0 10px 0;
}

.title, .title__2, .title__3, .title__4{
  text-align: center;
}

.date{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.date input{
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 300px;
}

.date input[type=text]{
 font-size: 16px;
}

.title__3{
  margin: 20px 0;
}

.select{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select1{
  padding-left: 10px;
}

.submit__btn{
  float: right;
  padding: 7px 20px;
  border: none;
  margin-top: 20px;
  background-color: rgb(243, 47, 47);
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
}

.submit__btn:hover{
  background-color: rgb(214, 98, 98);;
}

.text__area{
  width: 100%;
  resize: none;
}

@media only screen and (max-width: 780px)  {
  .pass_slip{
    width: calc(100vw - 40px);
  }

  .date{
    display: flex;
    justify-content: center;
  }

  .details{
    display: flex;
    justify-content: center;
  }

  .date input{
    width: 420px;
  }
}

@media only screen and (max-width: 480px)  {
  .date input{
    width: 80vw;
  }
}